<% if success %>
  <p class="notice border border-green-400 bg-green-100 p-4 rounded-lg"><%= success %></p>
<% end %>
<% if notice %>
  <p class="notice border border-blue-400 bg-blue-100 p-4 rounded-lg"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert border border-yellow-400 bg-yellow-100 p-4 rounded-lg"><%= alert %></p>
<% end %>
